<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SlidingMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F991FCA41D053F6D002EE6ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F991FCBD1D053F6F002EE6ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F991FCC81D053F6F002EE6ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
